* {
    margin: 0px;
}

body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

header {
    font-family: 'Gloria Hallelujah', sans-serif;
    background-color: #e2f5de;
    color: #5f645f;
}

footer {
    background-color: #99A799;
    text-align: right;
}

.princial {
    background-color: #ADC2A9;
}

ul {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 0px;
}

#nome {
    text-align: left;
    font-size: 0.75em;
    margin-left: 10px;
    float: left;
}

#assinatura {
    margin-right: 10px;
    font-size: 00.75em;
}

#novamente {
    list-style-type: none;
}

#foto_inicial {
    border-radius: 100px;
    margin-bottom: 0px;
    padding-top: 20px;
}

#breve_descricao {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    margin: 0 25% 20px;
}

#descricao_foto {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8em;
    font-style: italic;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 20px;
}

#github:hover {
    opacity: 60%;
}

#linkedin:hover {
    opacity: 60%;
}

.cerveja {
    font-size: 1.3em;
}

.violao {
    font-size: 1.2em;
}

.empatico {
    font-size: 1.1em;
}

.esforcado {
    font-size: 1em;
}

.gitedin {
    display: inline;
}